
<div class="nav-tabs">
  <h2>HOme--Welcome to Sailfish Digital Media</h2><h1><%= JSON.stringify(uname)%></h1>
  <a href="/" style="float:right">Logout</a>
</div>

<div class="row">
  <div class="col-lg-12">
    <a href="/Insert" class="btn btn-info">Insert</a>
  </div>

  <div class="col-lg-12">
    <a href="/Find" class="btn btn-info">Find</a>
  </div>

</div>

