<!DOCTYPE HTML>
<html>
<head>
    <title>Express with EJS</title>
    <link rel="stylesheet" href="/css/bootstrap.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.css"/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <script type="text/javascript" src="/javascripts/angular.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.js.js"></script>
</head>
<body style="background-color: #d58512;">
<div class="container" >
    <%- body %>
</div>
<script type="application/javascript" src="/js/bootstrap.js"></script>
</body>
</html>